:root {
  --dark-bg: rgb(36, 40, 46);
  --light-bg: #adadad;
  --dark-text: #fff;
  --light-text: rgb(61, 61, 61);
  --light-card-bg: #fefefe;
  --dark-card-bg: rgb(59, 62, 67);
}

.light {
  --bg: var(--light-bg);
  --text: var(--light-text);
  --card-bg: var(--light-card-bg);
}

.dark {
  --bg: var(--dark-bg);
  --text: var(--dark-text);
  --card-bg: var(--dark-card-bg);
}

.App {
  min-height: 100vh;
}

.container {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 2.5rem 0;
  font-size: 5rem;
  color: var(--text);
}

h3 {
  font-size: 3rem;
}

@media screen and (max-width:524px) {
  h1 {
    font-size: 3rem;
  }
}

.characters {
  max-width: 80rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

@media screen and (min-width:1024px) {
  .characters {
    flex-direction: row;
  }
}

.card {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  width: 100%;
  background-color: var(--card-bg);
}

@media screen and (min-width:1024px) {
  .card {
    width: 47%;
  }
}

.card img {
  width: 15rem;
  height: 100%;
}

.loading {
  background-color: rgb(36, 40, 46);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading h3 {
  color: white;
  font-size: 7.5rem;
}

.dark>.container>.characters>.card>.text-container {
  color: white;
}

.text-container {
  padding: 1rem;
  font-size: 1.25rem;
}

.text-container h3 {
  font-size: 1.5rem;
}

.title {
  color: var(--text);
  font-size: 1.2rem;
  margin-top: .7rem;
  /* margin: 0.1rem 0; */
}

button {
  padding: 1rem 1rem;
  font-size: 1.5rem;
  margin: 1.5rem 1rem;
  border-radius: 6px;
  width: 10rem;
  cursor: pointer;
}

button {
  background-color: var(--card-bg);
  color: var(--text);
  border: none;
}

.pagination {
  display: flex;
  justify-content: center;
}

.theme-toggle {
  position: absolute;
  font-size: 2.5rem;
  cursor: pointer;
  top: 1rem;
  right: 2rem;
}

.theme-dark {
  color: lightblue;
}

.theme-light {
  color: orange;
}

span.status {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: .3rem;
  vertical-align: middle;
  border-radius: 50%;
}

span.status.Dead {
  background: rgb(214, 61, 46);
}

span.status.Alive {
  background: rgb(45, 255, 45);
}

span.status.unknown {
  background: grey;
}

.text {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 600;
}

.status-text {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-top: .2rem;
}

.form-control {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-control>input {
  width: 100%;
  max-width: 40rem;
  border-radius: 7px;
  height: 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  text-align: center;
  margin: 0 12px 12px 0;
  font-weight: 600;
  text-transform: capitalize;
}